* {
  print-color-adjust: exact;
}

#header {
  padding: 0 !important;
  margin: 0 !important;
}

#libreHeader {
  height: 100%;
  display: block;
  margin: 0;
  padding-top: 0.2in;
}

#libreHeader img {
  height: 25px;
  margin: 0;
  padding: 0;
}

#libreHeader a {
  margin: 0;
  padding: 0;
}
