* {
  box-sizing: border-box;
  print-color-adjust: exact;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  background-color: #127bc4;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  align-content: stretch;
}

#frontContainer, #backContainer {
  display: flex;
  flex: 1 1 0%;
  min-width: 0;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  padding: 8% 5%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#spine {
  display: flex;
  flex-shrink: 0;
  writing-mode: vertical-rl;
  padding: 5% 0;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  color: white;
  gap: 16%;
}

#spine > div:first-child {
  flex: 3;
  min-width: 0;
  display: flex;
  align-items: center;
  overflow: visible;
}

#spineTitle {
  margin: 0;
}

#spineCite > img {
  max-height: 100%;
  max-width: 3vh;
  object-fit: contain;
}

#spineCite {
  flex: 2;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 60%;
}

#spineCiteAuthorName {
  margin-right: 10%;
  text-align: end;
}

#frontContainer > div, #backContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-right: 20%;
}

#backContainer > div {
  align-items: center;
}


#backContainer > div {
  margin-left: 20%;
  margin-right: 0;
}

#frontTitle {
  font-size: 48px;
  text-transform: uppercase;
}

#frontCite {
  font-size: 24px;
}

#backLogo {
  max-height: 80%;
  max-width: 90%;
  object-fit: contain;
}

div#backOverview {
  flex: 1;
  margin: 2%;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#canvas {
  align-self: flex-end;
}

